body {
    background-color: chartreuse;
    }
    h1.static {
      color: blue;
      margin-left: 500px;
    }
    [href] {
      background: rgb(22, 7, 235);
      color: white;
    }
    h2 {
      color: rgb(0, 60, 255);
    }
    h3 {
      color: blue;
    }
    picture {
      margin-left: 500px;
    }
    #events {
      margin-left: 20px;
    }
    #startseite {
      margin-left: 20px;
    }
    div {
      width: 300px;
      border: 15px solid green;
      padding: 50px;
      margin: 20px;
    }
        
    p {
        font-family: 'Fruktur', cursive;
        font-family: 'Roboto', sans-serif;
    }
    a:hover {
        background-color: crimson;
    }

    #test_pseudo:first-letter {
        font-size: 130%;
        background-color: crimson;
    }
    #test_drehen {
        transform: rotate(330deg);
    }

    div {
      width: 100px;
      height: 100px;
      background-color: red;
      animation-name: example;
      animation-duration: 8s;
    }
    
    @keyframes example {
      from {background-color: red;}
      to {background-color: yellow;}
    }


   